.root {
  margin: 0;
  color: var(--primary-text-color);
  font-weight: 600;
}

.fill {
  width: 100%;
}

.h1 {
  font-size: 2rem;
  line-height: 1.2;
}

.h2 {
  font-size: 1.5rem;
  line-height: 1.3;
}

.h3 {
  font-size: 1.25rem;
  line-height: 1.4;
}

.h4 {
  font-size: 1.125rem;
  line-height: 1.4;
}

.h5 {
  font-size: 1rem;
  line-height: 1.5;
}

.colored {
  color: var(--color-primary-700);
}
