.container {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  width: 240px;
  border-right: 1px solid var(--color-primary-600);
  background-color: var(--background-secondary);
}

.content {
  flex: 1;
  padding: 1.5rem;
}
