.root {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem 1.5rem;
  border-bottom: 1px solid var(--color-primary-600);
  background-color: var(--background-secondary);
}

.brand {
  font-style: italic;
  font-size: 1.25rem;
  font-weight: 600;
  text-decoration: none;
}

.brand:hover {
  color: inherit;
}
