:root {
  --color-primary-700: #09637E;
  --color-primary-650: #087E8E;
  --color-primary-600: #088395;
  --color-primary-300: #7AB2B2;
  --color-primary-100: #EBF4F6;
  --primary-text-color: #111111;
  --secondary-text-color: #6b7280;
}
